@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-VariableFont_opsz,wght.woff2");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  font-family: "Inter", Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f5f7fa;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 1280px) {
  body {
    padding-left: 249px;
  }
}

.page-header {
  position: relative;
  min-height: 140px;
  background-color: #fff;
}
.page-header__wrapper {
  margin: 0 auto;
  padding: 25px 25px 20px 25px;
  width: 100%;
}
.page-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.page-header__title {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  color: #343c6a;
}
.page-header__search-field {
  display: none;
}
.page-header__search-field--mobile {
  position: relative;
  width: 100%;
  min-height: 40px;
  padding: 0 45px;
  border-radius: 40px;
  border: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
  background-color: #f5f7fa;
  outline: none;
}
.page-header__search-field--mobile:hover {
  border: 1px solid #5dafe9;
}
.page-header__search-field--mobile:focus {
  border: 2px solid #1072b8;
}
.page-header__search-field--mobile::-webkit-input-placeholder {
  color: #8ba3cb;
}
.page-header__search-field--mobile::-moz-placeholder {
  color: #8ba3cb;
}
.page-header__search-field--mobile:-ms-input-placeholder {
  color: #8ba3cb;
}
.page-header__search-field--mobile::-ms-input-placeholder {
  color: #8ba3cb;
}
.page-header__search-field--mobile::placeholder {
  color: #8ba3cb;
}
.page-header__search-field__icon {
  position: relative;
}
.page-header__search-field__icon::before {
  content: "";
  position: absolute;
  top: -29px;
  left: 20px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../img/magnifying-glass.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page-header__avatar-mobile {
  position: absolute;
  right: 13px;
  top: 25px;
  -webkit-clip-path: circle(17.5px at 51px 33%);
          clip-path: circle(17.5px at 51px 33%);
  cursor: pointer;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    padding: 30px;
  }
  .page-header__title {
    font-size: 24px;
  }
  .page-header__avatar-mobile {
    right: 18px;
    top: 30px;
  }
}
@media (min-width: 1280px) {
  .page-header {
    min-height: 90px;
    border-bottom: 1px solid #e6eff5;
  }
  .page-header__wrapper {
    margin: 0 auto;
    padding: 20px 40px 20px;
    width: 100%;
  }
  .page-header__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: 60px;
    margin-bottom: 0;
  }
  .page-header__title {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.89px;
  }
  .page-header__search-field-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 65px;
    margin-left: auto;
  }
  .page-header__search-field-button {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    background-color: #f5f7fa;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  .page-header__search-field-button:nth-child(2) {
    background-image: url(../img/settings.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .page-header__search-field-button:nth-child(3) {
    background-image: url(../img/notification.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .page-header__search-field-button:hover {
    opacity: 0.8;
  }
  .page-header__search-field-button:active {
    opacity: 0.5;
  }
  .page-header__search-field {
    display: block;
    position: relative;
    width: 255px;
    min-height: 50px;
    padding: 0 25px;
    padding-left: 60px;
    margin-right: 30px;
    border-radius: 40px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.15px;
    background-color: #f5f7fa;
    outline: none;
  }
  .page-header__search-field:hover {
    border: 1px solid #5dafe9;
  }
  .page-header__search-field:focus {
    border: 2px solid #1072b8;
  }
  .page-header__search-field::-webkit-input-placeholder {
    color: #8ba3cb;
  }
  .page-header__search-field::-moz-placeholder {
    color: #8ba3cb;
  }
  .page-header__search-field:-ms-input-placeholder {
    color: #8ba3cb;
  }
  .page-header__search-field::-ms-input-placeholder {
    color: #8ba3cb;
  }
  .page-header__search-field::placeholder {
    color: #8ba3cb;
  }
  .page-header__search-field--mobile {
    display: none;
  }
  .page-header__search-field__icon::before {
    top: -41px;
    left: auto;
    right: 464.55px;
    width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-size: 100%;
  }
  .page-header__avatar-mobile {
    width: 138.46px;
    height: 92.31px;
    right: 20.69px;
    top: 20px;
    -webkit-clip-path: circle(30px at 89px 32.6%);
            clip-path: circle(30px at 89px 32.6%);
  }
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-navigation__logo {
  display: none;
}
.main-navigation--closed .site-list {
  display: none;
}
.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 1.96px;
  background-color: #343c6a;
  border-radius: 5px;
  -webkit-box-shadow: 0 6px 0 0 #343c6a, 0 12px 0 0 #343c6a;
          box-shadow: 0 6px 0 0 #343c6a, 0 12px 0 0 #343c6a;
}
.main-navigation__toggle {
  position: absolute;
  top: 34px;
  left: 25px;
  z-index: 2;
  display: block;
  width: 18px;
  height: 18px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-navigation__toggle {
    top: 39px;
    left: 30px;
    width: 18.74px;
    height: 24px;
  }
  .main-navigation--closed .main-navigation__toggle::before {
    width: 18.74px;
    height: 2.6px;
    -webkit-box-shadow: 0 7px 0 0 #343c6a, 0 14px 0 0 #343c6a;
            box-shadow: 0 7px 0 0 #343c6a, 0 14px 0 0 #343c6a;
  }
}
@media (min-width: 1280px) {
  .main-navigation {
    width: 249px;
    height: 100vh;
    padding: 30px 41px;
    padding-right: 30px;
    border-right: 1px solid #e6eff5;
    position: absolute;
    top: 0;
    left: -249px;
    background-color: #fff;
  }
  .main-navigation--closed .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-navigation__logo {
    position: relative;
    display: block;
    margin-top: 3px;
    margin-left: 2px;
    margin-bottom: 64px;
  }
  .main-navigation__toggle {
    display: none;
  }
}

.page-main {
  position: relative;
  min-height: 1168px;
  padding: 25px;
  background-color: #f5f7fa;
}
.page-main__wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 22px 20px 25px 20px;
  background-color: #fff;
  border-radius: 25px;
}
.page-main__avatar-mobile-big {
  position: absolute;
  top: -196px;
  right: 50%;
  z-index: 2;
  -webkit-clip-path: circle(85px at 285px 30%);
          clip-path: circle(85px at 285px 30%);
  -webkit-transform: translateX(35.75%);
      -ms-transform: translateX(35.75%);
          transform: translateX(35.75%);
}
.page-main__tab-content__avatar {
  position: relative;
}
.page-main__tab-content__avatar:hover::before {
  background-color: #4643f5;
}
.page-main__tab-content__avatar:active::before {
  background-color: #6a68ec;
}
.page-main__tab-content__avatar::before {
  content: "";
  position: absolute;
  top: -81px;
  right: 50%;
  z-index: 3;
  display: block;
  width: 38.64px;
  height: 38.64px;
  background-color: #1814f3;
  border-radius: 50%;
  -webkit-transform: translateX(227%);
      -ms-transform: translateX(227%);
          transform: translateX(227%);
  cursor: pointer;
}
.page-main__tab-content__avatar::after {
  content: "";
  position: absolute;
  top: -70.185px;
  right: 50%;
  z-index: 4;
  display: block;
  width: 18.55px;
  height: 18.55px;
  background-image: url(../img/pencil.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translateX(420%);
      -ms-transform: translateX(420%);
          transform: translateX(420%);
  cursor: pointer;
}
.page-main__form {
  margin-top: 217px;
}
@media (min-width: 768px) {
  .page-main {
    min-height: 924px;
    padding: 30px;
  }
  .page-main__wrapper {
    padding: 22px 30px 25px 30px;
  }
}
@media (min-width: 1280px) {
  .page-main {
    padding-left: 41px;
    padding-right: 40px;
    padding-top: 31px;
  }
  .page-main__wrapper {
    padding: 37px 30px 30px 30px;
  }
  .page-main__avatar-mobile-big {
    top: 1px;
    left: -277px;
    width: 342px;
    height: 228px;
    -webkit-clip-path: circle(65px at 220px 30%);
            clip-path: circle(65px at 220px 30%);
  }
  .page-main__form {
    margin-top: 49px;
    margin-left: 185px;
  }
  .page-main__tab-content__avatar::before {
    top: 88px;
    left: 34px;
    width: 30px;
    height: 30px;
  }
  .page-main__tab-content__avatar::after {
    top: 95px;
    left: 48px;
    width: 15px;
    height: 15px;
    background-size: 100%;
  }
}

.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 25px;
  border-bottom: 1px solid #ebeef2;
}
.tab-list__item {
  position: relative;
  display: block;
  width: 80px;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.73px;
  text-align: center;
  color: #718ebf;
}
.tab-list__item:first-child {
  margin-right: 17px;
}
.tab-list__item--active {
  color: #1814f3;
}
.tab-list__item--active::before {
  content: "";
  position: absolute;
  left: -50%;
  bottom: 0;
  width: 80px;
  height: 2px;
  background-color: #1814f3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
@media (min-width: 768px) {
  .tab-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tab-list__item {
    width: 114px;
    font-size: 16px;
    cursor: pointer;
  }
  .tab-list__item--active::before {
    width: 114px;
    height: 4px;
  }
}
@media (min-width: 1280px) {
  .tab-list {
    min-height: 31px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .tab-list__item {
    width: 114px;
  }
  .tab-list__item:nth-child(2) {
    margin-left: 29px;
  }
  .tab-list__item:nth-child(3) {
    margin-left: 40px;
  }
}

.form {
  min-height: 854px;
}
.form__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__main__wrapper:last-child .form__main__item:last-child {
  margin-bottom: 18px;
}
.form__main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}
.form__label {
  display: block;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 15.73px;
  font-weight: 400;
  color: #232323;
}
.form__input {
  min-height: 40px;
  padding: 13px 30px 12px 15px;
  border: 1px solid #dfeaf2;
  border-radius: 10px;
  outline: none;
}
.form__input::-webkit-input-placeholder {
  color: #718ebf;
}
.form__input::-moz-placeholder {
  color: #718ebf;
}
.form__input:-ms-input-placeholder {
  color: #718ebf;
}
.form__input::-ms-input-placeholder {
  color: #718ebf;
}
.form__input::placeholder {
  color: #718ebf;
}
.form__button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 9px;
  color: #fff;
  background-color: #1814f3;
  cursor: pointer;
}
@media (min-width: 768px) {
  .form {
    min-height: 572px;
  }
  .form__main {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .form__main__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__main__item {
    min-width: 45%;
    margin-bottom: 22px;
  }
  .form__label {
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 19.36px;
  }
  .form__input {
    min-height: 50px;
    padding: 16px 34px 16px 20px;
    border-radius: 15px;
  }
  .form__input:hover {
    border-color: #5dafe9;
  }
  .form__input:focus {
    border: 2px solid #1072b8;
  }
  .form__button-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form__button {
    width: 45%;
    margin-left: auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
  }
  .form__button:hover {
    opacity: 0.8;
  }
  .form__button:active {
    opacity: 0.5;
  }
}
@media (min-width: 1280px) {
  .form__main__wrapper:last-child .form__main__item:last-child {
    margin-bottom: 30px;
  }
  .form__main__item {
    min-width: 48.3%;
    margin-bottom: 22px;
  }
  .form__button {
    width: 190px;
    height: 49px;
    padding: 14px 10px;
    border-radius: 15px;
  }
}

.site-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 555px;
}
.site-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 39px;
  padding-left: 3px;
  width: 100%;
  min-height: 25px;
  cursor: pointer;
}
.site-list__item--active .site-list__item-icon path {
  fill: #1814f3;
}
.site-list__item--active .site-list__link {
  color: #1814f3;
}
.site-list__item--active::before {
  content: "";
  position: absolute;
  top: -76.5%;
  left: -41px;
  display: block;
  width: 6px;
  height: 60px;
  background-color: #1814f3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.site-list__item--active .site-list__item-icon {
  margin-left: -3px;
  margin-right: 30px;
}
.site-list__link {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 500;
  color: #b1b1b1;
}
.site-list__item-icon {
  margin-right: 27px;
  margin-top: -3px;
}
/*# sourceMappingURL=styles.css.map */
