.main-navigation {
  display: flex;
  flex-direction: column;

  &__logo {
    display: none;
  }

  &--closed {
    .site-list {
      display: none;
    }

    .main-navigation__toggle::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      display: block;
      width: 13.74px;
      height: 1.6px;

      background-color: #343c6a;
      border-radius: 5px;
      box-shadow: 0 5px 0 0 #343c6a, 0 10px 0 0 #343c6a;
    }
  }

  &__toggle {
    position: absolute;
    top: 37px;
    left: 25px;
    z-index: 2;

    display: block;
    width: 13.74px;
    height: 18px;

    border: none;
    background-color: #fff;

    cursor: pointer;
  }

  @media (min-width: 768px) {
    &__toggle {
      top: 39px;
      left: 30px;

      width: 18.74px;
      height: 24px;
    }

    &--closed {
      .main-navigation__toggle::before {
        width: 18.74px;
        height: 2.6px;

        box-shadow: 0 7px 0 0 #343c6a, 0 14px 0 0 #343c6a;
      }
    }
  }

  @media (min-width: 1280px) {
    width: 249px;
    height: 100vh;

    padding: 30px 41px;

    position: absolute;

    top: 0;
    left: -249px;

    background-color: #fff;

    &--closed {
      .site-list {
        display: flex;
      }
    }

    &__logo {
      display: block;

      margin-bottom: 62px;
    }

    &__toggle {
      display: none;
    }
  }
}
