.page-main {
  position: relative;

  min-height: 1168px;
  padding: 25px;

  background-color: #f5f7fa;

  &__wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 22px 20px 25px 20px;

    background-color: #fff;

    border-radius: 25px;
  }

  &__avatar-mobile-big {
    position: absolute;

    top: -196px;
    right: 50%;
    z-index: 2;

    clip-path: circle(85px at 285px 30%);
    transform: translateX(35.75%);
  }

  &__tab-content__avatar {
    position: relative;

    &:hover::before {
      background-color: #4643f5;
    }

    &:active::before {
      background-color: #6a68ec;
    }

    &::before {
      content: "";

      position: absolute;
      top: -81px;
      right: 50%;
      z-index: 3;

      display: block;
      width: 38.64px;
      height: 38.64px;

      background-color: #1814f3;

      border-radius: 50%;
      transform: translateX(227%);
      cursor: pointer;
    }

    &::after {
      content: "";

      position: absolute;
      top: -70.185px;
      right: 50%;
      z-index: 4;

      display: block;
      width: 18.55px;
      height: 18.55px;

      background-image: url(../../img/pencil.svg);
      background-position: center;
      background-repeat: no-repeat;

      transform: translateX(420%);
      cursor: pointer;
    }
  }

  &__form {
    margin-top: 217px;
  }

  @media (min-width: 768px) {
    min-height: 924px;

    padding: 30px;

    &__wrapper {
      padding: 22px 30px 25px 30px;
    }
  }

  @media (min-width: 1280px) {
    padding-left: 41px;
    padding-right: 40px;
    padding-top: 31px;
    &__wrapper {
      padding: 37px 30px 30px 30px;
    }

    &__avatar-mobile-big {
      top: 1px;
      left: -277px;

      width: 342px;
      height: 228px;

      clip-path: circle(65px at 220px 30%);
    }

    &__form {
      margin-top: 49px;
      margin-left: 185px;
    }

    &__tab-content__avatar {
      &::before {
        top: 88px;
        left: 34px;

        width: 30px;
        height: 30px;
      }

      &::after {
        top: 95px;
        left: 48px;

        width: 15px;
        height: 15px;

        background-size: 100%;
      }
    }
  }
}
