.tab-list {
  display: flex;
  justify-content: space-between;

  min-height: 25px;

  border-bottom: 1px solid #ebeef2;

  &__item {
    position: relative;

    display: block;
    width: 85px;

    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    text-align: center;

    color: #718ebf;

    &--active {
      color: #1814f3;

      &::before {
        content: "";

        position: absolute;
        left: -50%;
        bottom: 0;

        width: 80px;
        height: 2px;

        background-color: #1814f3;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transform: translateX(50%);
      }
    }
  }

  @media (min-width: 768px) {
    justify-content: space-around;

    &__item {
      width: 114px;

      font-size: 16px;

      cursor: pointer;

      &--active {
        &::before {
          width: 114px;
          height: 3px;
        }
      }
    }
  }

  @media (min-width: 1280px) {
    justify-content: start;

    &__item {
      margin-right: 46.5px;
    }
  }
}
