@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-VariableFont_opsz\,wght.woff2");
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-width: 375px;

  font-family: "Inter", Arial, sans-serif;

  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: scroll;

  background-color: #f5f7fa;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 1280px) {
    padding-left: 249px;
  }
}

@import "blocks/page-header.scss";
@import "blocks/main-navigation.scss";
@import "blocks/page-main.scss";
@import "blocks/tab-list.scss";
@import "blocks/form.scss";
@import "blocks/site-list.scss";
